* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.306), rgba(0, 0, 0, 0.306)), url("background\ img.avif");
    background-size: cover;
    background-position: center;
    padding: 10px 0%;
    overflow: hidden;
    position: relative;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 90px;
    border-radius: 50%;
    background-color: #333 ;
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a {
    color: #fff;
}

.login-btn {
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, rgba(76, 118, 186, 0.655), rgba(114, 15, 141, 0.655));
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 8%;
    margin-left: 100px;
    max-width: 600px;
}

.content h1 {
    font-size: 60px;
    color: #222222c5;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.feature-img {
    width: 350px;
    position: absolute;
    /* bottom: 0; */
    right: 15%;
    top: 15%;
}

.feature-img.anim {
    animation-delay: 1.5s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width:430px) {
    .feature-img {
        width: 350px;
        position: absolute;
        /* bottom: 0; */
        right: 15%;
        top: 50%;
    }

    .content h1 {
        font-size: 50px;
    }

    ul li {
        margin-top: 100px;
    }
}

@media (max-width:760px) {
    .content {
        margin: 0 0 30% 30%;
    }

    .content h1 {
        font-size: 30px;
    }

    .feature-img {
        width: 350px;
        position: absolute;
        /* bottom: 0; */
        right: 30%;
        top: 50%;
    }

    .content.btn {
        margin-bottom: 40px;
    }
}
@media (max-width:375px){
   .content h1{
  margin-left: 20%;
   }
}